# Data section pertaining car accidents in Seattle

Before discussing the data, we're going to upload it to the current notebook in order to understand what kind of information we have in hand.

In [1]:
import pandas as pd
import numpy as np
import os

I'll be changing the working directory as the notebook directory is not the same as where the information is placed.

In [2]:
os.chdir(r"C:\Users\HP\Documents\Coursera_Capstone")

Now, we proceed to upload the information to the notebook in order to visualize it.

In [3]:
df=pd.read_csv('Data-Collisions.csv')
df

C:\Users\HP\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,-122.323148,47.703140,1,1307,1307,3502005,Matched,Intersection,37475.0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,-122.347294,47.647172,2,52200,52200,2607959,Matched,Block,NaN,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,-122.334540,47.607871,3,26700,26700,1482393,Matched,Block,NaN,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,-122.334803,47.604803,4,1144,1144,3503937,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,-122.306426,47.545739,5,17700,17700,1807429,Matched,Intersection,34387.0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194668,2,-122.290826,47.565408,219543,309534,310814,E871089,Matched,Block,NaN,...,Dry,Daylight,NaN,NaN,NaN,24,From opposite direction - both moving - head-on,0,0,N
194669,1,-122.344526,47.690924,219544,309085,310365,E876731,Matched,Block,NaN,...,Wet,Daylight,NaN,NaN,NaN,13,From same direction - both going straight - bo...,0,0,N
194670,2,-122.306689,47.683047,219545,311280,312640,3809984,Matched,Intersection,24760.0,...,Dry,Daylight,NaN,NaN,NaN,28,From opposite direction - one left turn - one ...,0,0,N
194671,2,-122.355317,47.678734,219546,309514,310794,3810083,Matched,Intersection,24349.0,...,Dry,Dusk,NaN,NaN,NaN,5,Vehicle Strikes Pedalcyclist,4308,0,N
194672,1,-122.289360,47.611017,219547,308220,309500,E868008,Matched,Block,NaN,...,Wet,Daylight,NaN,NaN,NaN,14,From same direction - both going straight - on...,0,0,N

Car accidents have many factors that produce them. In the case of Seattle, it would be good to determine which factor is the one that causes the more incidents. Is it the weather? Is the driver under the effects of alcohol or drugs? Was the driver distracted while driving? In this case, we we'll segment our dataframe to determine which conditions are the ones that cause the most accidents.

## Determining the number of accidents caused by bad weather

In [4]:
df['WEATHER'].value_counts()

Clear                       111135
Raining                      33145
Overcast                     27714
Unknown                      15091
Snowing                        907
Other                          832
Fog/Smog/Smoke                 569
Sleet/Hail/Freezing Rain       113
Blowing Sand/Dirt               56
Severe Crosswind                25
Partly Cloudy                    5
Name: WEATHER, dtype: int64

As we can observe, most of the accidents were produced when there was clear weather, so we can discard weather as a big factor in car incidents.

## Determining the number of accidents caused by distracted persons

In [5]:
df['INATTENTIONIND'].value_counts()

Y    29805
Name: INATTENTIONIND, dtype: int64

We have even less incidents caused by distracted persons. We can deduce that the use of cellphone was not a big factor that caused the incidents.

## Determining the number of accidents caused by influence of alcohol or drugs

In [6]:
df['UNDERINFL'].value_counts()

N    100274
0     80394
Y      5126
1      3995
Name: UNDERINFL, dtype: int64

Again yet, there are not many cases pertaining people under influence to be considered a factor that causes accidents

## Determining the number of accidents caused by road condition or lighting

In [7]:
df['ROADCOND'].value_counts()

Dry               124510
Wet                47474
Unknown            15078
Ice                 1209
Snow/Slush          1004
Other                132
Standing Water       115
Sand/Mud/Dirt         75
Oil                   64
Name: ROADCOND, dtype: int64

In [8]:
df['LIGHTCOND'].value_counts()

Daylight                    116137
Dark - Street Lights On      48507
Unknown                      13473
Dusk                          5902
Dawn                          2502
Dark - No Street Lights       1537
Dark - Street Lights Off      1199
Other                          235
Dark - Unknown Lighting         11
Name: LIGHTCOND, dtype: int64

Most of the accidents were caused in daylight, and under normal dry conditions of the road. I'm starting to think that most of the accidents may have been caused due to the avenues or streets disposition. Let's determine if the accidents occurred at intersection, highways or avenues. After determining the biggest factor, we can star working with the severity of each incident.

## Places where incidents occurred

In [9]:
df['JUNCTIONTYPE'].value_counts()

Mid-Block (not related to intersection)              89800
At Intersection (intersection related)               62810
Mid-Block (but intersection related)                 22790
Driveway Junction                                    10671
At Intersection (but not related to intersection)     2098
Ramp Junction                                          166
Unknown                                                  9
Name: JUNCTIONTYPE, dtype: int64

Ok, now we know that most of the incidents are not necessarily at junctions, they were produced Mid-Block. Now I question. Where the drivers speeding up?

In [10]:
df['SPEEDING'].value_counts()

Y    9333
Name: SPEEDING, dtype: int64

Most of the drivers were not speeding, as the total number of incidents is higher in comparison. As we can see, we have determined that the normal studied factors that cause accidents cannot be used to determine incidence as most incidents have been casual incidents under normal weather, dry conditions, by persons that were concentrated driving. So moving on, it would be good to determine the type of collision and how severe the collisions were.

## Type of incident

In [11]:
df_type=df['ST_COLDESC'].value_counts() 
df_type.head(6)

One parked--one moving                                                 44421
Entering at angle                                                      34674
From same direction - both going straight - one stopped - rear-end     25771
Fixed object                                                           13554
From same direction - both going straight - both moving - sideswipe    12777
From opposite direction - one left turn - one straight                 10324
Name: ST_COLDESC, dtype: int64

In [12]:
df['COLLISIONTYPE'].value_counts()

Parked Car    47987
Angles        34674
Rear Ended    34090
Other         23703
Sideswipe     18609
Left Turn     13703
Pedestrian     6608
Cycles         5415
Right Turn     2956
Head On        2024
Name: COLLISIONTYPE, dtype: int64

As stated, most of the accidents have been casual incidents. Taking the 6 types that have more influence over the dataframe, it would be good to determine if they have a relationship with the severity index. Afterwards, we can use the rest of the dataframe to determine if the other types of incidents have a high severity index. We start by determining the counts in the severity index.

In [13]:
df['SEVERITYCODE'].value_counts()

1    136485
2     58188
Name: SEVERITYCODE, dtype: int64

Is good to see that from all the information gathered, the incidents don't involve serious injuries or fatalities. Most of the incidents are related to property damage. So, let's analyze if there's a relationship between the type of collision and the severity of the incident.

In [14]:
df_st=df.groupby('ST_COLDESC')['SEVERITYCODE'].value_counts().reset_index(name="frequency")
df_st.set_index(['ST_COLDESC'], inplace=True)
df_st.set_index(['SEVERITYCODE'], append=True, inplace=True)
df_st=df_st.sort_values(['frequency'], ascending=False)
df_st.head(20)

                                                                 frequency
ST_COLDESC                                         SEVERITYCODE
One parked--one moving                             1                 42276
Entering at angle                                  1                 21050
From same direction - both going straight - one... 1                 14403
Entering at angle                                  2                 13624
From same direction - both going straight - one... 2                 11368
From same direction - both going straight - bot... 1                 11016
Fixed object                                       1                 10263
From opposite direction - one left turn - one s... 1                  5693
                                                   2                  4631
From same direction - both going straight - bot... 1                  4575
Vehicle - Pedalcyclist                             2                  4122
From same direction - all others                   1                  3697
Fixed object                                       2                  3291
From same direction - both going straight - bot... 2                  3054
Vehicle going straight hits pedestrian             2                  2567
One car leaving parked position                    1                  2404
From same direction - one left turn - one straight 1                  2362
From same direction - one right turn - one stra... 1                  2347
From same direction - both going straight - one... 1                  2188
One parked--one moving                             2                  2145

Now we have the most common type of collisions and the severity associated to those collisions. As we can see, the top type of collision is one parked and one moving. The severity associated to this type of collision relates to propietary damage. On the other hand, we see that incidents produced at angles have the most cases related to injuries in term of severity. As such, we could use the type of collision in order to predict whether an incident is of class "1" or class "2". This will be our key independent variable. As such, we will add other factors to our clean data frame that will increase the accuracy of our prediction in terms of predicting the severity of the collision.

# Dataframe cleaning process

We start by cleaning up our original dataframe, we start by determining the type of each column

In [15]:
df.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

In [16]:
df.shape

(194673, 38)

We have 38 different type of variables, so we can start by dropping columns we consider irrelevant to our current purpose like ID, location, number of injuries, and fatalities, as we already determined that the current dataset has no fatalities in the data.

In [17]:
df = df.drop(['X','Y','OBJECTID','INCKEY','COLDETKEY','REPORTNO','STATUS','INTKEY'], axis=1)
df.head(5)

,SEVERITYCODE,ADDRTYPE,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,SEVERITYCODE.1,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,...,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,Intersection,5TH AVE NE AND NE 103RD ST,,NaN,2,Injury Collision,Angles,2,0,...,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,Block,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,NaN,NaN,1,Property Damage Only Collision,Sideswipe,2,0,...,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,Block,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,NaN,NaN,1,Property Damage Only Collision,Parked Car,4,0,...,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,Block,2ND AVE BETWEEN MARION ST AND MADISON ST,,NaN,1,Property Damage Only Collision,Other,3,0,...,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,Intersection,SWIFT AVE S AND SWIFT AV OFF RP,NaN,NaN,2,Injury Collision,Angles,2,0,...,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [18]:
df = df.drop(['LOCATION','EXCEPTRSNCODE','EXCEPTRSNDESC','SEVERITYDESC','SDOT_COLCODE','SDOT_COLDESC','SDOTCOLNUM'], axis=1)
df.head(5)

,SEVERITYCODE,ADDRTYPE,SEVERITYCODE.1,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,...,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,Intersection,2,Angles,2,0,0,2,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,...,Overcast,Wet,Daylight,NaN,NaN,10,Entering at angle,0,0,N
1,1,Block,1,Sideswipe,2,0,0,2,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM,...,Raining,Wet,Dark - Street Lights On,NaN,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,Block,1,Parked Car,4,0,0,3,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM,...,Overcast,Dry,Daylight,NaN,NaN,32,One parked--one moving,0,0,N
3,1,Block,1,Other,3,0,0,3,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM,...,Clear,Dry,Daylight,NaN,NaN,23,From same direction - all others,0,0,N
4,2,Intersection,2,Angles,2,0,0,2,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM,...,Raining,Wet,Daylight,NaN,NaN,10,Entering at angle,0,0,N

In [19]:
df = df.drop(['SEGLANEKEY','CROSSWALKKEY','WEATHER','LIGHTCOND','ROADCOND','ADDRTYPE','PERSONCOUNT','PEDCOUNT'], axis=1)
df.head()

,SEVERITYCODE,SEVERITYCODE.1,COLLISIONTYPE,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,JUNCTIONTYPE,INATTENTIONIND,UNDERINFL,PEDROWNOTGRNT,SPEEDING,ST_COLCODE,ST_COLDESC,HITPARKEDCAR
0,2,2,Angles,0,2,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,At Intersection (intersection related),NaN,N,NaN,NaN,10,Entering at angle,N
1,1,1,Sideswipe,0,2,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM,Mid-Block (not related to intersection),NaN,0,NaN,NaN,11,From same direction - both going straight - bo...,N
2,1,1,Parked Car,0,3,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM,Mid-Block (not related to intersection),NaN,0,NaN,NaN,32,One parked--one moving,N
3,1,1,Other,0,3,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM,Mid-Block (not related to intersection),NaN,N,NaN,NaN,23,From same direction - all others,N
4,2,2,Angles,0,2,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM,At Intersection (intersection related),NaN,0,NaN,NaN,10,Entering at angle,N

In [20]:
df = df.drop(['PEDCYLCOUNT','VEHCOUNT','INCDATE'], axis=1)
df.head()

,SEVERITYCODE,SEVERITYCODE.1,COLLISIONTYPE,INCDTTM,JUNCTIONTYPE,INATTENTIONIND,UNDERINFL,PEDROWNOTGRNT,SPEEDING,ST_COLCODE,ST_COLDESC,HITPARKEDCAR
0,2,2,Angles,3/27/2013 2:54:00 PM,At Intersection (intersection related),NaN,N,NaN,NaN,10,Entering at angle,N
1,1,1,Sideswipe,12/20/2006 6:55:00 PM,Mid-Block (not related to intersection),NaN,0,NaN,NaN,11,From same direction - both going straight - bo...,N
2,1,1,Parked Car,11/18/2004 10:20:00 AM,Mid-Block (not related to intersection),NaN,0,NaN,NaN,32,One parked--one moving,N
3,1,1,Other,3/29/2013 9:26:00 AM,Mid-Block (not related to intersection),NaN,N,NaN,NaN,23,From same direction - all others,N
4,2,2,Angles,1/28/2004 8:04:00 AM,At Intersection (intersection related),NaN,0,NaN,NaN,10,Entering at angle,N

In [21]:
df = df.drop(['SEVERITYCODE.1'], axis=1)
df.head()

,SEVERITYCODE,COLLISIONTYPE,INCDTTM,JUNCTIONTYPE,INATTENTIONIND,UNDERINFL,PEDROWNOTGRNT,SPEEDING,ST_COLCODE,ST_COLDESC,HITPARKEDCAR
0,2,Angles,3/27/2013 2:54:00 PM,At Intersection (intersection related),NaN,N,NaN,NaN,10,Entering at angle,N
1,1,Sideswipe,12/20/2006 6:55:00 PM,Mid-Block (not related to intersection),NaN,0,NaN,NaN,11,From same direction - both going straight - bo...,N
2,1,Parked Car,11/18/2004 10:20:00 AM,Mid-Block (not related to intersection),NaN,0,NaN,NaN,32,One parked--one moving,N
3,1,Other,3/29/2013 9:26:00 AM,Mid-Block (not related to intersection),NaN,N,NaN,NaN,23,From same direction - all others,N
4,2,Angles,1/28/2004 8:04:00 AM,At Intersection (intersection related),NaN,0,NaN,NaN,10,Entering at angle,N

Now we have a less robust dataframe to analyze with some nice factors that could help us predict the severity of the incidents

We proceed to clean up the dataframe determining if there are null rows or copied rows

## Further cleaning the data set

We start by determining if there are duplicate rows in our dataset as that would affect the accuracy of our model.

In [22]:
duplicate_rows_df = df[df.duplicated()]
print("number of duplicate rows: ", duplicate_rows_df.shape)

number of duplicate rows:  (9689, 11)

In [23]:
df.count()

SEVERITYCODE      194673
COLLISIONTYPE     189769
INCDTTM           194673
JUNCTIONTYPE      188344
INATTENTIONIND     29805
UNDERINFL         189789
PEDROWNOTGRNT       4667
SPEEDING            9333
ST_COLCODE        194655
ST_COLDESC        189769
HITPARKEDCAR      194673
dtype: int64

In [24]:
df = df.drop_duplicates()
df.head(5)

,SEVERITYCODE,COLLISIONTYPE,INCDTTM,JUNCTIONTYPE,INATTENTIONIND,UNDERINFL,PEDROWNOTGRNT,SPEEDING,ST_COLCODE,ST_COLDESC,HITPARKEDCAR
0,2,Angles,3/27/2013 2:54:00 PM,At Intersection (intersection related),NaN,N,NaN,NaN,10,Entering at angle,N
1,1,Sideswipe,12/20/2006 6:55:00 PM,Mid-Block (not related to intersection),NaN,0,NaN,NaN,11,From same direction - both going straight - bo...,N
2,1,Parked Car,11/18/2004 10:20:00 AM,Mid-Block (not related to intersection),NaN,0,NaN,NaN,32,One parked--one moving,N
3,1,Other,3/29/2013 9:26:00 AM,Mid-Block (not related to intersection),NaN,N,NaN,NaN,23,From same direction - all others,N
4,2,Angles,1/28/2004 8:04:00 AM,At Intersection (intersection related),NaN,0,NaN,NaN,10,Entering at angle,N

In [26]:
df.count()

SEVERITYCODE      184984
COLLISIONTYPE     181555
INCDTTM           184984
JUNCTIONTYPE      178819
INATTENTIONIND     29542
UNDERINFL         181575
PEDROWNOTGRNT       4628
SPEEDING            9245
ST_COLCODE        184966
ST_COLDESC        181555
HITPARKEDCAR      184984
dtype: int64

As we have seen in the counts, we have almost eliminated 10000 duplicate rows. We proceed in determining if there are null values in our dataframe.

In [27]:
print(df.isnull().sum())

SEVERITYCODE           0
COLLISIONTYPE       3429
INCDTTM                0
JUNCTIONTYPE        6165
INATTENTIONIND    155442
UNDERINFL           3409
PEDROWNOTGRNT     180356
SPEEDING          175739
ST_COLCODE            18
ST_COLDESC          3429
HITPARKEDCAR           0
dtype: int64

If we drop null values in this dataframe, we would be eliminating a lot of rows, so we just proceed with our current data frame.

# Final Working Data Set

Now we have a clean data set to work with.

In [28]:
df

,SEVERITYCODE,COLLISIONTYPE,INCDTTM,JUNCTIONTYPE,INATTENTIONIND,UNDERINFL,PEDROWNOTGRNT,SPEEDING,ST_COLCODE,ST_COLDESC,HITPARKEDCAR
0,2,Angles,3/27/2013 2:54:00 PM,At Intersection (intersection related),NaN,N,NaN,NaN,10,Entering at angle,N
1,1,Sideswipe,12/20/2006 6:55:00 PM,Mid-Block (not related to intersection),NaN,0,NaN,NaN,11,From same direction - both going straight - bo...,N
2,1,Parked Car,11/18/2004 10:20:00 AM,Mid-Block (not related to intersection),NaN,0,NaN,NaN,32,One parked--one moving,N
3,1,Other,3/29/2013 9:26:00 AM,Mid-Block (not related to intersection),NaN,N,NaN,NaN,23,From same direction - all others,N
4,2,Angles,1/28/2004 8:04:00 AM,At Intersection (intersection related),NaN,0,NaN,NaN,10,Entering at angle,N
...,...,...,...,...,...,...,...,...,...,...,...
194668,2,Head On,11/12/2018 8:12:00 AM,Mid-Block (not related to intersection),NaN,N,NaN,NaN,24,From opposite direction - both moving - head-on,N
194669,1,Rear Ended,12/18/2018 9:14:00 AM,Mid-Block (not related to intersection),Y,N,NaN,NaN,13,From same direction - both going straight - bo...,N
194670,2,Left Turn,1/19/2019 9:25:00 AM,At Intersection (intersection related),NaN,N,NaN,NaN,28,From opposite direction - one left turn - one ...,N
194671,2,Cycles,1/15/2019 4:48:00 PM,At Intersection (intersection related),NaN,N,NaN,NaN,5,Vehicle Strikes Pedalcyclist,N
194672,1,Rear Ended,11/30/2018 3:45:00 PM,Mid-Block (not related to intersection),NaN,N,NaN,NaN,14,From same direction - both going straight - on...,N